<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Tilburg Science Cloud
</h1>
<h2 class="subtitle">
  Scale up your research.
</h2>

<p>
  Logged in!<br>
  </p>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
      </div>
  {% endif %}
  {% endwith %}


Here are your machines:

<table class="ui celled table">
  <thead>
    <tr><th>Name</th>
    <th>Number of CPUs</th>
    <th>Memory</th>
    <th>Status</th>
    <th>Action</th>

  </tr></thead>
  <tbody>

    {% for vm in vms %}

    <tr>
      <td data-label="Name">{{vm.name}}</td>
      <td data-label="Number of CPUs">4</td>
      <td data-label="Memory">8 GB</td>
      <td data-label="Status">{{vm.state}}</td>
      <td data-label="Action">        <div class="ui tiny buttons">
                <button class="ui disabled button">
                  <i class="stop icon"></i>
                  Stop
                </button>
                <a class="ui button" href="/modifyvm/{{vm.id}}/stop">
                  <i class="pause icon"></i>
                  Pause
                </a>
                <a class="ui button" href="/modifyvm/{{vm.id}}/start">
                  <i class="play icon"></i>
                  Start
                </a>
                <button class="ui yellow button">
                  <i class="arrow alternate circle right icon"></i>
                  Access
                </button>
                <button class="ui button">
                  <i class="settings icon"></i>
                  Change machine configuration
                </button>

              </div></td>

    </tr>



    {% endfor %}

  </tbody>
</table>







<a href=/logout>Logout</a>


{% endblock %}
